@charset "UTF-8";

/* KR */
@font-face {
    font-family: p200;
    src: url(..//font/Pretendard-ExtraLight.woff) format('woff');
    font-weight: 200;
}
@font-face {
    font-family: p300;
    src: url(..//font/Pretendard-Light.woff) format('woff');
    font-weight: 300;
}
@font-face {
    font-family: p400;
    src: url(../font/Pretendard-Regular.woff);
    font-weight: 400;
}
@font-face {
    font-family: p500;
    src: url(../font/Pretendard-Medium.woff) format('woff');
    font-weight: 500;
}
@font-face {
    font-family: p600;
    src: url(../font/Pretendard-SemiBold.woff) format('woff');
    font-weight: 600;
}
@font-face {
    font-family: p900;
    src: url(../font/Pretendard-Black.woff) format('woff');
    font-weight: black;
}

/* ENG */
@font-face {
    font-family: p200eng;
    src: url(../font/Montserrat-Light.woff) format('woff');
    font-weight: 200;
}
@font-face {
    font-family: p400eng;
    src: url(../font/Montserrat-Medium.woff) format('woff');
    font-weight: 400;
}
@font-face {
    font-family: p600eng;
    src: url(../font/Montserrat-SemiBold.woff) format('woff');
    font-weight: 600;
}
@font-face {
    font-family: p700eng;
    src: url(../font/Montserrat-Bold.woff) format('woff');
    font-weight: 700;
}
@font-face {
    font-family: title;
    src: url(../font/Unbounded-Bold.woff) format('woff');
    font-weight: 800;
}
