@charset "UTF-8";

html {
    scroll-behavior: smooth;
    color: #fff;
    height: 100%;
}
body {
    height: 100%;
}
/* 탭 메뉴 */
.menu-box {
    width: 100%;
    display: flex;
    padding: 3.2rem 8rem;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 9999;
}
.menu-box.active {
    backdrop-filter: blur(1rem);
}
.logo {
    width: fit-content;
}
.logo a {
    display: block;
    background: url(../img/logo.png) no-repeat center center;
    background-size: cover;
    width: 7rem;
    height: 7rem;
}
.menu {
    display: flex;
    align-items: center;
    gap: 5rem;
}
.menu li a {
    font-family: p400eng;
    font-size: 3rem;
    position: relative;
    margin-bottom: 1rem;
    transition: color 0.2s ease-in-out;
}
.menu li a.active {
    color: #00b000;
}
.menu li:hover a {
    color: #00b000;
}

.page {
    background-color: #191b20;
    min-height: 100%;
}

/* home */
.page.home .info-box {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page.home .info-box .tit-box {
    overflow: hidden;
    display: flex;
    gap: 3rem;
}
.page.home .info-box .t {
    font-family: title;
    font-size: 13rem;
    color: #ccff33;
}
.page.home .info-box .t.p1 {
    animation: slideUp 0.8s ease-in-out both;
}
.page.home .info-box .t.p2 {
    animation: slideUp 0.8s ease-in-out both;
    animation-delay: 0.6s;
}
.page.home .info-box .t.p3 {
    animation: slideUp 0.8s ease-in-out both;
    animation-delay: 1.2s;
}
.page.home .info-box .tit-box2 {
    overflow: hidden;
    position: relative;
}
.page.home .info-box .tit-box2 p {
    font-family: title;
    font-size: 25rem;
    line-height: 28rem;
}
.page.home .info-box .tit-box2 .p1 {
    color: #ccff33;
    animation: slideUp 0.8s ease-in-out both;
    animation-delay: 1.8s;
}
.page.home .info-box .tit-box2 .p2 {
    color: #008000;
    animation: slideUp 0.8s ease-in-out both, titAni 3s ease-in-out infinite;
    animation-delay: 1.8s;
    position: absolute;
    top: 0;
    left: 0;
}
/* 스크롤 유도 */
.scroll-box {
    position: absolute;
    bottom: 4.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 4rem;
    height: 6.2rem;
    animation: ani1 1s ease-in-out both;
    animation-delay: 2.5s;
}
.scroll-box .scroll {
    width: 4rem;
    height: 6.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.2rem solid#fff;
    border-radius: 8rem;
}
.scroll-box .scroll::before {
    content: '';
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 100%;
    animation: scroll1 2s infinite, scroll2 2s infinite;
}
.scroll-box p {
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%);
    font-size: 2.5rem;
    font-family: p200eng;
}

/* about-resume */
.page.about-resume {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
}
.page.about-resume .bg-box {
    width: 75%;
    height: 72.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/aboutmebg.png) no-repeat center center;
    background-size: 100%;
    gap: 7rem;
}
/* about-resume 폴더 박스 */
.page.about-resume .bg-box .txt-folder {
    margin-top: 2rem;
    .txt-box {
        font-size: 10rem;
        font-family: title;
        color: #191b20;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 3rem;
        .txt2 {
            margin-top: 3rem;
            font-family: p400eng;
            font-size: 3.5rem;
            animation: txtGra 1.5s ease-in-out infinite;
        }
    }
    .folder-box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 7rem;
        position: relative;
        .folder {
            width: 33rem;
            height: 30rem;
            background: url(../img/folder.svg) no-repeat center center;
            background-size: cover;
            position: relative;
            cursor: pointer;
        }
    }
}
.page.about-resume .bg-box .folder-box .folder::before {
    content: 'profile 🍀';
    width: 100%;
    height: fit-content;
    position: absolute;
    bottom: -4rem;
    left: 0;
    font-family: p400eng;
    font-size: 2.7rem;
    text-align: center;
    color: #191b20;
}
.page.about-resume .bg-box .folder-box .folder.folder2::before {
    content: 'career ⭐️';
}
.page.about-resume .bg-box .folder-box .folder.folder3::before {
    content: 'skills 📚';
}
.page.about-resume .bg-box .folder-box .folder::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
}
.page.about-resume .bg-box .folder-box .folder:hover::after {
    display: block;
}
/* 폴더 안 새로운 창 */
.bg-box .folder-box .dt-box {
    position: absolute;
    bottom: -1rem;
    width: 95rem;
    height: 50rem;
    box-shadow: 0 0 4rem rgba(25, 27, 32, 0.4);
    border: 0.1rem solid#707070;
    background-size: 100%;
    background-color: #fff;
    cursor: default;
    animation: scale 0.3s ease-in-out;
    border-radius: 1.2rem;
    z-index: 9900;
}
.bg-box .folder-box .dt-box button {
    width: 11rem;
    line-height: 3.2rem;
    position: absolute;
    top: 3.3rem;
    left: 3.7rem;
    background-color: #ccff33;
    font-family: p200eng;
    font-size: 2.2rem;
    color: #191b20;
    text-align: center;
    border-radius: 2rem;
    border: 0.1rem solid#707070;
    cursor: pointer;
}
/* 폴더 안 새로운 창 세부사항 */
.folder-box .dt-box .txt-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
/* 폴더 1 */
.folder-box .dt-box.box1 .txt-box {
    gap: 5rem;
    & img {
        margin-top: 5rem;
        width: 22rem;
        height: 27rem;
        background-color: #aaa;
        object-fit: 100%;
    }
    .p-box {
        display: flex;
        margin-top: 5rem;
        font-size: 3rem;
        line-height: 2.2;
        gap: 10rem;
        .tit {
            font-family: p600eng;
            text-align: left;
        }
        .sub-tit {
            font-family: p200eng, p300;
            text-align: right;
        }
    }
}
/* 폴더2 */
.folder-box .dt-box.box2 .txt-box {
    flex-direction: column;
    margin-top: 2rem;
    .career-box {
        padding: 0 5rem;
        width: 100%;
        font-size: 2rem;
        .tit {
            font-size: 3.4rem;
            font-family: p600eng;
            color: #191b20;
            margin-bottom: 0.5rem;
        }
        .sub-tit {
            font-size: 2rem;
            font-family: p400eng, p300;
            line-height: 1.8;
            color: #333;
        }
        .day {
            font-size: 1.5rem;
            font-family: p400eng;
            margin-bottom: 0.5rem;
            color: #aaa;
        }
    }
    .career-box.edu {
        margin-bottom: 2rem;
    }
}
/* 폴더3 */
.folder-box .dt-box.box3 .txt-box {
    flex-direction: column;
    .tit {
        font-family: title;
        font-size: 8.5rem;
        margin-bottom: 3rem;
    }
    .skill {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        & li img {
            display: block;
            width: 11rem;
            height: 11rem;
            object-fit: cover;
            transition: transform 0.1s ease-in-out;
        }
        & li:hover img {
            transform: scale(1.1);
        }
    }
}

/* portfolio-web */
.page.portfolio-web {
    position: relative;
}
/* 포트폴리오 흐르는 텍스트 배경 */
.page.portfolio-web .text-box {
    height: 100%;
    display: flex;
    align-items: center;
}
.page.portfolio-web .text-box .bg-text {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 43.3%;
}
.page.portfolio-web .text-box .bg-text p {
    display: block;
    flex: none;
    font-size: 16.5rem;
    font-family: p900;
    color: transparent;
    -webkit-text-stroke: 0.2rem #ccff33;
    animation: flowText 17s linear infinite;
    white-space: nowrap;
    opacity: 0.7;
}
.page.portfolio-web .text-box .bg-text p span {
    color: #ccff33;
    opacity: 0.3;
}
.page.portfolio-web .pf-box {
    width: 75.5%;
    height: 70rem;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.2rem;
}
/* 포트폴리오 스와이퍼 */
.page.portfolio-web .pf-box {
    height: 70rem;
    margin-top: 2rem;
}
.page.portfolio-web .pf-box .swiper {
    width: 100%;
    height: 100%;
    border-radius: 1.2rem;
}
.page.portfolio-web .pf-box .swiper .swiper-wrapper .swiper-slide {
    border-radius: 1.2rem;
}
.pf-box .swiper .swiper-wrapper .swiper-slide {
    transform: scale(0.85);
    transition: transform 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-self: unset;
    color: #000;
    gap: 4rem;
}
.pf-box .swiper .swiper-wrapper .swiper-slide-active {
    transform: scale(1);
}
/* 포트폴리오 세부 */
.swiper-wrapper .swiper-slide .pf-web {
    margin-left: 7.5rem;
    width: 45%;
    height: 55rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0.2rem 0.2rem 1.5rem rgba(50, 50, 50, 0.3);
    border-radius: 1.2rem;
    overflow: hidden;
}
.swiper-wrapper .swiper-slide .pf-web .img-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.swiper-wrapper .swiper-slide .pf-web .img-box.box1 {
    background-image: url(../img/portfolio1.png);
    transition: background-position 2.2s linear;
}
.swiper-wrapper .swiper-slide .pf-web .img-box.box2 {
    background-image: url(../img/portfolio2.png);
    transition: background-position 1.5s linear;
}
.swiper-wrapper .swiper-slide .pf-web .img-box.box3 {
    background-image: url(../img/portfolio3.png);
    transition: background-position 1.5s linear;
}
.swiper-wrapper .swiper-slide .pf-web .img-box.box4 {
    transition: background-position 3s linear;
    background-image: url(../img/portfolio4.png);
}
.swiper-wrapper .swiper-slide .pf-web .img-box:hover {
    background-position: 100% 100%;
}
.swiper-wrapper .swiper-slide .pf-detail {
    width: 55%;
    color: #222;
}
.swiper-wrapper .swiper-slide .pf-detail .tit {
    font-size: 3.8rem;
    font-family: p600eng, p600;
    margin-bottom: 3.5rem;
}
.swiper-wrapper .swiper-slide .pf-detail .sub-tit {
    font-size: 2.8rem;
    font-family: p700eng;
    margin-bottom: 1rem;
}
.swiper-wrapper .swiper-slide .pf-detail .sub-dt {
    font-size: 2.2rem;
    font-family: p400eng, p400;
    margin-bottom: 3rem;
    line-height: 1.2;
}
.swiper-wrapper .swiper-slide .pf-detail .info {
    font-size: 2rem;
    font-family: p300;
    line-height: 1.2;
    margin-bottom: 4rem;
}
.swiper-wrapper .swiper-slide .pf-detail .link-box {
    margin-right: 4rem;
    display: flex;
    gap: 4rem;
    justify-content: center;
}
.swiper-wrapper .swiper-slide .pf-detail .link-box a {
    display: block;
    width: 30rem;
    height: 5rem;
    background-color: #191b20;
    border-radius: 3rem;
    font-family: p700eng;
    font-size: 2.8rem;
    color: #ccff33;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}
.swiper-wrapper .swiper-slide .pf-detail .link-box.box1 a {
    width: 90%;
}
.swiper-wrapper .swiper-slide .pf-detail .link-box a:hover {
    background-color: #ccff33;
    color: #191b20;
}
/* 페이지네이션 */
.page.portfolio-web .pf-box .pagination {
    width: fit-content;
    position: absolute;
    bottom: 3.7%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9900;
}
.page.portfolio-web .pf-box .pagination span {
    width: 1.4rem;
    height: 1.4rem;
    background-color: #191b20;
}
.page.portfolio-web .pf-box .pagination span.swiper-pagination-bullet-active {
    background-color: #ccff33;
}

/* portfolio-design */
.page.portfolio-design {
    padding: 14rem 0 23.2rem 0;
}
.page.portfolio-design h1 {
    width: 100%;
    text-align: center;
    font-family: title;
    font-size: 6rem;
    color: #ccff33;
    line-height: 1.1;
}
.page.portfolio-design ul {
    height: fit-content;
    margin: 0 auto;
    padding: 0 6rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}
/* portfolio-design popup */
.page.portfolio-design .popup {
    margin-bottom: 24rem;
    width: 90%;
}
.page.portfolio-design .popup li {
    width: 48rem;
    height: 48rem;
    background: url(../design/popup/popup1.jpg) no-repeat center center;
    background-size: 100%;
}
.page.portfolio-design .popup .popup2 {
    background: url(../design/popup/popup2.jpg) no-repeat center center;
    background-size: 100%;
}
.page.portfolio-design .popup .popup3 {
    background: url(../design/popup/popup3.jpg) no-repeat center center;
    background-size: 100%;
}
.page.portfolio-design .popup .popup4 {
    background: url(../design/popup/popup4.jpg) no-repeat center center;
    background-size: 100%;
}
.page.portfolio-design .popup .popup5 {
    background: url(../design/popup/popup5.jpg) no-repeat center center;
    background-size: 100%;
}
.page.portfolio-design .popup .popup6 {
    background: url(../design/popup/popup6.jpg) no-repeat center center;
    background-size: 100%;
}
/* portfolio-design banner */
.page.portfolio-design .banner li {
    width: 75rem;
    height: 17rem;
    background: url(../design/banner/s-banner1.jpg) no-repeat center center;
    background-size: 100%;
}
.page.portfolio-design .banner .banner1,
.page.portfolio-design .banner .banner2 {
    width: 144rem;
    height: 30rem;
    background: url(../design/banner/l-banner1.jpg) no-repeat center center;
    background-size: 100%;
}
.page.portfolio-design .banner .banner2 {
    background: url(../design/banner/l-banner2.jpg) no-repeat center center;
    background-size: 100%;
}
.page.portfolio-design .banner .banner3 {
    background: url(../design/banner/s-banner2.jpg) no-repeat center center;
    background-size: 100%;
}
.page.portfolio-design .banner .banner4 {
    background: url(../design/banner/s-banner3.jpg) no-repeat center center;
    background-size: 100%;
}
.page.portfolio-design .banner .banner5 {
    background: url(../design/banner/s-banner4.jpg) no-repeat center center;
    background-size: 100%;
}

/* contact */
.page.contact {
    min-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .wrap {
        width: 100%;
        background-color: #004500;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        .txt-box {
            font-family: p200eng, p200;
            color: #fff;
            line-height: 1.3;
            .txt1 {
                font-family: title;
                font-size: 14rem;
            }
            .txt2 {
                font-size: 4.2rem;
                margin-bottom: 3rem;
                & span {
                    font-family: p400eng;
                }
            }
            .txt3 {
                font-size: 1.8rem;
            }
        }
        & img {
            display: block;
            width: 40rem;
            height: 40rem;
        }
    }
    .copy-box {
        width: 100%;
        line-height: 5rem;
        background-color: #191b20;
        text-align: center;
        font-size: 1.8rem;
        font-family: p200;
        letter-spacing: 0.1rem;
    }
}

/* 키프레임 애니메이션 */
@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes titAni {
    0%,
    100% {
        clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50% {
        clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}

@keyframes scroll1 {
    from {
        transform: translate(-50%);
    }
    to {
        transform: translate(-50%, 2.5rem);
    }
}

@keyframes scroll2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes ani1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flowText {
    0% {
        transfrom: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes txtGra {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes scale {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(100%);
    }
}
